
@{
    ViewData["Title"] = "VerifySuccess";
}


<div class="alert alert-info">


    <p>شماره موبایل شما با موفقیت تایید شد</p>
    <br /> 
    <strong>تشکر از شما</strong>
</div>
<a href="~/">صفحه اصلی</a>
