@page
@model RazorPages.Pages.Admin.Products.DeleteModel
@{
}

<h1>حذف محصول</h1>
<h3>آیا از حذف محصول  مطمئن هستید؟</h3>

@if(ViewData["message"] != null)
{
    <div class="alert alert-info">
        <strong>@ViewData["message"]</strong>
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-md-2">
            <label asp-for="Product.Name"></label>
        </dt>
        <dd class="col-md-8">
             <label>@Model.Product.Name</label>
        </dd>
    </dl>
    <form method="post" asp-page="Delete">
        <input type="hidden" asp-for="Product.Id" />
        <button type="submit" class="btn btn-danger"> حذف کن</button>
        |
        <a asp-page="./Index">برگشت به لیست</a>
    </form>
</div>